
.App {
  text-align: center;
  /*height: 100%;
  background-image: url("./images/travel2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.App-title {
  font-size: 1.5em;
  color: white;
}

#Signup{
  width: 50%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid gray;
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 150px 0px 0px 850px;
   align-content: center;
    width: 30%;
    height: 55%;
    background-color: rgb(212, 220, 116); 
   
}  
#Login {
  width: 50%;
    padding: 12px 20px;
    
    display: inline-block;
    border: 1px solid gray;
    box-sizing: border-box;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 150px 0px 0px 850px;
   align-content: center;
    width: 30%;
    height: 35%;
    background-color: rgb(212, 220, 116);
}

.column.no-scroll {
  margin-left: 1rem;
  margin-right: 0rem;
  margin-top: 5rem;

  
}

.column.boxlist {
  margin-left: 2.5rem;
  margin-right: 4rem;
  margin-top: 5rem;
  
}

.boxSearch {
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 5px;
}

.field.addBox {
  background-color: floralwhite;
  padding: 10px;
  border-radius: 5px;
}

